annotations:
  artifacthub.io/repository: kubewarden-rego-policies-library
  catalog.cattle.io/hidden: "true"
  catalog.cattle.io/type: kubewarden-policy
  catalog.cattle.io/ui-component: kubewarden
  kubewarden/displayName: Istio Injected Namespaces
  kubewarden/mutation: "false"
  kubewarden/registry: ghcr.io
  kubewarden/repository: kubewarden/policies/istio-injected-namespaces
  kubewarden/resources: Namespace
  kubewarden/rules: |
    - apiGroups:
      - ''
      apiVersions:
      - v1
      resources:
      - namespaces
      operations:
      - CREATE
      - UPDATE
  kubewarden/tag: v1.0.1
appVersion: 1.0.1
description: "# Istio-Injected Namespaces\nSpecify namespaces you would like to be
  labeld with `istio-injected: enabled`. Namespaces with this label with automatically
  deploy a Istio sidecar with each pod. \n"
home: https://github.com/kubewarden/rego-policies-library
name: istio-injected-namespaces
sources:
- ghcr.io/kubewarden/policies/istio-injected-namespaces:v1.0.1
version: 1.0.1
