annotations:
  artifacthub.io/repository: kubewarden-rego-policies-library
  catalog.cattle.io/hidden: "true"
  catalog.cattle.io/type: kubewarden-policy
  catalog.cattle.io/ui-component: kubewarden
  kubewarden/displayName: Block Workloads Created Without Specifying Namespace
  kubewarden/mutation: "false"
  kubewarden/registry: ghcr.io
  kubewarden/repository: kubewarden/policies/block-workloads-created-without-specifying-namespace
  kubewarden/resources: Deployment, Job, ReplicationController, ReplicaSet, DaemonSet,
    StatefulSet, CronJob
  kubewarden/rules: |
    - apiGroups:
      - apps
      apiVersions:
      - v1
      resources:
      - deployments
      - replicasets
      - daemonsets
      - statefulsets
      operations:
      - CREATE
      - UPDATE
    - apiGroups:
      - batch
      apiVersions:
      - v1
      resources:
      - jobs
      - cronjobs
      operations:
      - CREATE
      - UPDATE
    - apiGroups:
      - ''
      apiVersions:
      - v1
      resources:
      - replicationcontrollers
      operations:
      - CREATE
      - UPDATE
  kubewarden/tag: v1.0.1
appVersion: 1.0.1
description: "Using this Policy, you can prohibit workloads from being created in
  a default namespace due to the lack of a namespace label. \n"
home: https://github.com/kubewarden/rego-policies-library
name: block-workloads-created-without-specifying-namespace
sources:
- ghcr.io/kubewarden/policies/block-workloads-created-without-specifying-namespace:v1.0.1
version: 1.0.1
